.note {
  background-color: #F2F2D5;
  border: 1px solid #C4C47C;
}

.tip {
  background-color: #D6F3D6;
  border: 1px solid #7CC47C;
}

.warning, .caution {
  background-color: #F3E3D6;
  border: 1px solid #C8311B;
}

.note > .title, .tip > .title, .caution > .title, .warning > .title {
  font-family: inherit;
  margin-left: 1em;
  margin-top: 0;
  color: black;
  opacity: 0.6;
}

.note, .tip, .caution, .warning {
  /* width: 620px;/* Danger: Changes right: required for .comment_count */
  margin: 1em auto;
  padding: 1em;
}

pre, code, tt { 
    font-size: 1em;
    font-family: Consolas, 'Bitstream Vera Sans Mono', 'andale mono', 'lucida console', monaco, monospace;
}

p code {
    font-family: Courier;
}

pre {
  background: #F2F2F2;
  white-space: pre-wrap;
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #ddd; 
  font-size: 90%;
}
p {
  text-indent: 2em;
}
body {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  
}

img {
  max-width: 95%;
  height:auto;
}
  
